<div class='ticket-container'>
  <div class='ticket-head'>
    <div class="form-group">
      <label class="sr-only" for="exampleInputAmount">Risk Amount</label>
      <div class="input-group risk-input">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" [(ngModel)]="amount" (keyup)="getTotal($event)">
      </div>
    </div>
    <span class='ticket-input'><p>Prize:</p><p class="prize-p">${{prize}}</p></span>
  </div>
  <div class="button-box">
    <button type="button" class="btn btn-success bet-button" (click)="makeBet()">Place Bet</button>
  </div>

  <div class="choose-boxes">

    <table class="table">
      <thead>
        <tr>
          <th width="80%">Selection</th>
          <th width="10%">Odd</th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let choose of betChoosen">
          <td>{{choose.teamChoose}}</td>
          <td>{{choose.oddChoose}}</td>
          <td><span class="glyphicon glyphicon-remove icon-remove"></span></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
