$white: #fff;
$black: #000;
$red: #f00;

.ticket-container {
  height: 500px;
  width: 100%;
}

.ticket-list {
  list-style: none;
}

button {
  color: $black;
}

.odd-box {
  height: 80px;
  margin-bottom: 30px;
  padding-top: 10px;
  text-align: center;
  width: 100%;

  a {
    font-size: 20px;
    margin: 0 30px;
  }
}

.ticket-head {
  height: 150px;
  width: 100%;
}

.ticket-input {
  height: 50%;
  margin-top: 10px;
  text-align: center;
  width: 50%;

  input {
    width: 80%;
  }
}

.prize-p {
  font-size: 30px;
}

.button-box {
  margin-bottom: 20px;
  width: 100%;
}

.bet-button {
  margin-left: 15px;
  text-align: center;
  width: 90%;
}

.risk-number {
  font-size: 14px;
  text-align: center;
}

.icon-remove {
  color: $red;
}

.choose-selections {
  float: left;
  width: 90%;
}

.choose-boxes {
  height: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.risk-input {
  margin-left: 80px;
  width: 50%;
}

.my-footer {
  background-color: $white;
  display: none;
  height: 50px;
}

@media (max-width: 400px) {
  .ticket-container {
    display: none;
  }

  .my-footer {
    display: block;
  }
}
