.users-box {
  margin-top: 40px;
}

.single-box {
  height: 250px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;

  img {
    margin-bottom: 20px;
  }
}

.edit-usr-btn {
  margin: 0 10px;
  width: 70px;
}
