<div class="container-fluid users-box">
  <div class="col-lg-3 col-sm-4 single-box" *ngFor="let single of users">
    <img width="80" height="80" src="{{single.image}}" alt="">
    <p>{{single.name}} {{single.last_name}}</p>
    <p>Username: {{single.username}}</p>
    <p>Cashier: <span style="font-size:24px;color:green;">{{single.cashier | currency:'EUR':true}}</span></p>
    <section class="funds-sections">
      <input type="text" placeholder="€0" class="inpt-amount" #inputFunds>
      <button type="button" class="btn-xs btn-success btn-funds" (click)="editCash(single, inputFunds.value)">Add funds</button>
    </section>
    <button class="btn-sm btn-default edit-usr-btn">Tickets</button>
    <button class="btn-sm btn-danger edit-usr-btn" (click)="deleteSingleUser(single._id)">Remove</button>
  </div>
</div>
