
<form *ngIf="!user">
  <h2> Login</h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>

  <button (click)="login()"> login </button>
</form>

<div *ngIf="user">
  <h2> You are now logged in as {{ user.username }}!! </h2>

  <button (click)="logout()"> logout </button>

</div>

<p class="error"> {{ error }} </p>

<!-- <div class="container">
<div class="form">
  <div id="signup">
    <h1>Sign Up</h1>

    <form action="/signup" method="post">
      <div class="field-wrap">
        <input type="text" placeholder="Username" name="username">
      </div>
      <div class="field-wrap">
        <input type="password" placeholder="Password" name="password">
      </div>
      <button type="submit" class="button button-block">Get Started</button>
    </form>

    <br>
    <p style='float: right;'>
      Already have an account?
      <a href="/login">Log in.</a>
    </p>
  </div>
</div>
</div> -->
