$background-color: #1a1a1a;
$font-color: #abacab;
$link-color: #4db6ac;
$link-light-color: #00bfa5;

body {
  background-color: $background-color;
  color: $font-color;
}

a {
  color: $link-color;

  &:hover {
    color: $link-light-color;
  }
}

.navbar {
  margin-bottom: 0;
}
