$background-color: #1a1a1a;
$font-color: #abacab;
$link-color: #59a27a;
$link-light-color: #acce55;

body {
  background-color: $background-color;
  color: $font-color;
}

a {
  color: $link-color;

  &:hover {
    color: $link-light-color;
  }
}
