<!-- <div>
  <label for="things_name"> Search thing: </label>
  <input id="things_name" placeholder="thing name" type="text" [(ngModel)]="pattern">
</div>

    <h4> Stuff list </h4>
    <ul>
      <li *ngFor="let odd of allOdd | filter:'participants':pattern; let i = index">
        {{ i+1 }}) {{ odd.participants }}
      </li>
    </ul> -->

<div class=container-fluid>
  <div class="listing col-sm-3" *ngFor="let odd of allOdd">
    <div class="inside-list">
      <p>{{odd.created_at | date:'dd/MM/yyyy'}}</p>
      <p>{{odd.participants[0]}} vs {{odd.participants[1]}}</p>
      <a class="btn btn-primary listing-btn" [routerLink]="['/odd', odd._id]">Edit</a>
      <button class="btn btn-danger listing-btn" (click)="deleteOdd(odd._id)">Delete</button>
    </div>
  </div>
</div>
