$black: #000;
$white: #fff;

button {
  color: $black;
  margin: 0 30px;
  width: 100px;
}

.odd-box {
  border: 1px solid $white;
  border-radius: 40px;
  height: 80px;
  margin-bottom: 30px;
  padding-top: 10px;
  text-align: center;
  width: 100%;

  a {
    font-size: 20px;
    margin: 0 30px;
  }
}
