

<div class="odd-box">
  <img width="70" style="float: left" src="{{odd.image1}}">
  <img width="70" style="float: right" src="{{odd.image2}}">
  <p>{{odd.participants[0]}} vs {{odd.participants[1]}}</p>
  <button (click)="onOddAdd(odd.participants[0], odd.odds[0])" (click)="toggleHighlight(1);" [ngClass]="{'my-class': highlightedDiv === 1}">{{odd.odds[0]}}</button>
  <button (click)="onOddAdd(odd.participants[1], odd.odds[1])" (click)="toggleHighlight2(1);" [ngClass]="{'my-class': highlighted2Div === 1}">{{odd.odds[1]}}</button>
</div>
