<pre>{{odd|json}}</pre>

<div class="main-form">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4 login-form">
        <div class="account-wall">
          <form class="form-signin">
            <h3 style="text-align: center;">Edit event</h3>
            <h5 style="text-align: center;">Participant 1</h5>
            <input type="text" class="form-control" placeholder="Name" required [(ngModel)]="formInfo.participants[0]" name="participants[0]">
            <input type="text" class="form-control" placeholder="Odd" required [(ngModel)]="formInfo.odds[0]" name="odds[0]">
            <input type="text" class="form-control" placeholder="Image URL" required [(ngModel)]="formInfo.image1" name="image1">
            <h5 style="text-align: center;">Participant 2</h5>
            <input type="text" class="form-control" placeholder="Name" required [(ngModel)]="formInfo.participants[1]" name="participants[1]">
            <input type="text" class="form-control" placeholder="Odd" required [(ngModel)]="formInfo.odds[1]" name="odds[1]">
            <input type="text" class="form-control" placeholder="Image URL" required [(ngModel)]="formInfo.image2" name="image2">
            <button class="btn btn-lg btn-success btn-block" (click)="edit()">Edit</button>
            <a routerLink="/admin-list">Admin List</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
