<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/"><img width="22px" src="http://cdn.ewg.org/sites/all/themes/EWG/images/EWG_Logo.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
        <li *ngIf="user"><a routerLink="board">Board</a></li>
        <li *ngIf="user"><a routerLink='tickets'>Tickets</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!user"><a routerLink="login">Login</a></li>
        <li *ngIf="!user"><a routerLink="signup">Signup</a></li>
        <li *ngIf="user"><a routerLink="profile">{{user.name}} <img style="margin: 0 10px 0" width="20" height="20" src="https://www.b2match.eu/assets/avatar-4761a497f0ab9966adfac5a1caf3fe0da770d91c1358e24b76320108fb4e190d.png" alt=""> {{user.cashier | currency:'EUR':true }} {{money}}</a></li>
        <li *ngIf="user"><a routerLink="/" (click)='logout()'>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
