<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/"><img width="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/William_%26_Mary_Tribe_logo.svg/2000px-William_%26_Mary_Tribe_logo.svg.png" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="board">Board</a></li>
        <li><a routerLink='tickets'>Tickets</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!user"><a routerLink="login">Login</a></li>
        <li *ngIf="!user"><a routerLink="signup">Signup</a></li>
        <li *ngIf="user"><a>{{user.username}} <img width="20" src="https://www.courageworks.com/assets/placeholders/user/profiles/avatar_missing-5b2c566650cc0378d62358cbe6c4ede4016e4308fd71237cb6f541520f7e31ae.jpg" alt=""> 1.000$</a></li>
        <li *ngIf="user"><a routerLink="/" (click)='logout()'>Logout</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
