<h1> Bet list </h1>

<!-- Container box -->
<div class=container>

  <!-- Left bar -->
  <div class='col-md-3'>
    <div *ngFor="let league of leagues">
      <a routerLink='/{{league.sport}}'>{{league.display_name}}</a>
    </div>
  </div>

  <!-- Content -->
  <div class='col-md-6'>
    <div *ngFor="let odd of odds">
      <p>------------------</p>
      <p>{{odd.commence}}</p>
      <p>{{odd.sport_display}}</p>
      <p>{{odd.participants[1]}} vs {{odd.participants[0]}}</p>
      <span *ngIf='odd.sites.ladbrokes'><button (click)="onClick($event)">{{odd.participants[1]}}: {{odd.sites.ladbrokes.odds.h2h[1]}}</button><button (click)="onClick($event)">{{odd.participants[0]}}: {{odd.sites.ladbrokes.odds.h2h[0]}}</button></span>
    </div>
  </div>

  <!-- <span *ngIf='odd.sites.betfair.odds.h2h[2]'></button>Tie:<button (click)="onClick($event)">{{odd.sites.betfair.odds.h2h[2]}}</span> -->

  <!-- Right bar -->
  <div class='col-md-3'>
    <ul>
      <li class='ticket-list' *ngFor='let ticket of tickets'>{{ticket}}</li>
    </ul>
  </div>

</div> <!-- Closing container box -->
