$black: #000;
$white: #fff;
$link-color: #59a27a;
$link-dark-color: #130;

.ticket-list {
  list-style: none;
}

button {
  color: $black;
}

.odd-box {
  border: 1px solid $white;
  height: 80px;
  margin-bottom: 30px;
  padding-top: 10px;
  text-align: center;
  width: 100%;

  a {
    font-size: 20px;
    margin: 0 30px;
  }
}
