<div class="main-index">
  <div class='container'>
    <div class='buttons-box'>
      <h2 class="main-title">Bets Trace</h2>
      <button *ngIf="!user" class="btn btn-success home-btn" routerLink="login">Sign In</button>
      <button *ngIf="!user" class="btn btn-success home-btn" routerLink="signup">Create account</button>
      <button *ngIf="user" class="btn btn-success home-btn" routerLink="board">Make your bets</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-4 sub-main-box first-sub">

  </div>
  <div class="col-md-4 sub-main-box second-sub">

  </div>
  <div class="col-md-4 sub-main-box third-sub">

</div>

<footer class="main-footer">
  <p>Created by Edson Machado. Contact: edsonjmv@gmail.com</p>
</footer>
