<div class="main-index">
  <div class='container'>
    <div class='buttons-box'>
      <h2 class="main-title">Bets Trace</h2>
      <button *ngIf="user === undefined" class="btn btn-success home-btn" routerLink="login">Sign In</button>
      <button *ngIf="user === undefined" class="btn btn-success home-btn" routerLink="signup">Create account</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-4 sub-main-box first-sub">
    <!-- <img class="main-box-img" src="http://image.masslive.com/home/mass-media/width620/img/celtics_impact/photo/predictions-cover-slidepng-68a7f73188d3c4ad.png" alt="">
    <h3>Predictions</h3>
    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.</p> -->
  </div>
  <div class="col-md-4 sub-main-box second-sub">
    <!-- <img class="main-box-img" src="http://media.advance.net/nj-lvl_eagles_syndication/photo/2017/01/01/share-1png-c2c791ae9191d58f.png" alt="">
    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor.</p> -->
  </div>
  <div class="col-md-4 sub-main-box third-sub">
    <!-- <img class="main-box-img" src="http://p10cdn4static.sharpschool.com/userfiles/servers/server_195227/image/sports.png" alt="">
    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido
      usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p> -->
  </div>
</div>

<footer class="main-footer">
  <p>Created by Edson Machado. Contact: edsonjmv@gmail.com</p>
</footer>
